h1,
p {
  font-family: Lato;
}

span.user-main {
  color: Blue;
}

.counter-box {
  width: 200px;
  height: 150px;
  background-color: antiquewhite;
  padding: 10px;
}

.counter-num,
.odd-even {
  background-color: white;
  color: red;
  padding: 5px;
  font-size: 25px;
}
