* {
  margin: 0;
  padding: 0;
}

.app {
  padding: 5px 10px;
}
h1,
p {
  font-family: Lato;
}

span.user-main {
  color: Blue;
}

.counter-box {
  width: 100vw;
  height: auto;
  background-color: antiquewhite;
  padding: 10px;
  margin: 15px 0;
  text-align: center;
}

.counter-num,
.odd-even {
  background-color: white;
  color: red;
  padding: 5px;
  font-size: 25px;
}

ul {
  list-style: none;
}

ul > li {
  background-color: lightgray;
  margin: 8px 0;
  padding: 5px, 0;
}
